<div class="row">

  <!-- CITATION CONTACTS -->
  <div class="col-xs-6 col-sm-6 col-md-6" id="citation-contacts">

    <a class="anchor" name="contacts">
      <h2 class="section-header">
        <span class="glyphicon glyphicon-user"></span> Data Contacts (i.e., Authors)</h2>
    </a>

    <h6 class="contacts-subheader">Who are the author(s) of this dataset? Consider who might be the author of a manuscript describing the data (likely PI, post-doc, or graduate student). Start with the first author and add additional authors as needed.</h6>


    <div ng-repeat="(contactIdx, contact) in currentRecord.citation">
      <div class="subform">
        <h3 class="section-header">Data Contact {{ $index + 1 }}</h3>
        <div class="row" ng-repeat="n in [0,1,2]">
          <div ng-repeat="cfield in orderedContactFields.slice(n*3 , (n+1)*3)">
            <div class="col-xs-12 col-sm-12 col-md-4 col-md-4">
              <h4 class="attribute-label">{{cfieldsMap[cfield]}}</h4>
              <input tabindex=20 style="width:100%" type="text" ng-model="contact[cfield]"
                     ng-if="!($parent.$index==0 && $index==1)" class="contact-input"
                     id="{{'citation-' + cfield + '-' + contactIdx}}" required>
              <input tabindex=20 style="width:100%" type="email" ng-model="contact[cfield]"
                     ng-if="$parent.$index==0 && $index==1" class="contact-email"
                     id="{{'citation-email-' + contactIdx}}" required>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input tabindex=20 class="btn btn-default btn-cancel-contact" type="button"
            ng-click="cancelAddContactCitation()" value="Cancel Author Add">
        </div>

        <!-- Only allowed to add a new contact if all current contact fields
            are valid -->
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
          <input tabindex=20 class="btn btn-primary btn-contact" type="button"
                  ng-click="addContactCitation()" value="Add an Author"/>
        </div>
    </div>

  </div>

  <!-- ACCESS CONTACT -->
  <div class="col-xs-6 col-sm-6 col-md-6" id="access-contacts">

      <h2 class="section-header">
        <span class="glyphicon glyphicon-cloud"></span>  Data Access Contacts</h2>
      <h6 class="contacts-subheader">Identify the organization and, where appropriate, the point of contact (name or position, e.g., Data Manager) responsible for providing physical access to the data.</h6>

      <div ng-repeat="(contactIdx, contact) in currentRecord.access">
        <div class="subform">
          <h3 class="section-header">Access Contact {{ $index + 1 }}</h3>
          <div class="row" ng-repeat="n in [0,1,2]">
            <div ng-repeat="cfield in orderedContactFields.slice(n*3 , (n+1)*3)">
              <div class="col-xs-12 col-sm-12 col-md-4 col-md-4">
                <h4 class="attribute-label">{{cfieldsMap[cfield]}}</h4>
                <input tabindex=20 style="width:100%" type="text" ng-model="contact[cfield]"
                       ng-if="!($parent.$index==0 && $index==1)" class="contact-input"
                       id="{{'access-' + cfield + '-' + contactIdx}}" required>
                <input tabindex=20 style="width:100%" type="email" ng-model="contact[cfield]"
                       ng-if="$parent.$index==0 && $index==1" class="contact-email"
                       id="{{'access-email-' + contactIdx}}" required>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <input tabindex=20 class="btn btn-default btn-cancel-contact" type="button"
            ng-click="cancelAddContactAccess()" value="Cancel Contact Add">
        </div>

        <!-- Only allowed to add a new contact if all current contact fields
            are valid -->
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
          <input tabindex=20 class="btn btn-primary btn-contact" type="button"
                  ng-click="addContactAccess()" value="Add an Access Contact"/>
        </div>
      </div>

      <br>
    </div>

</div>
