<h2 class="section-header optional-field-header">
  <span class="mega-octicon octicon-checklist"></span> Review & Submit
</h2>

<!-- Page only shows review form if Terms & Condidtions, Right to Publish
     and Page Doesn't Contain Sensitive Information checkboxes have been 
     checked
-->
<div id="reviewForm">
  <table id="review-table">
    <!-- Display everything except cls, id, citation, and access -->
    <tr ng-repeat="key in notSorted(currentRecord)">
      <td> {{reviewFields(key)}} </td> <td> {{reviewFields(currentRecord[key])}}</td>
    </tr>
    <!-- Now do citation and access values from currentRecord -->
    <tr ng-repeat="i in currentRecord.access">
          <td> access {{$index + 1}} </td> <td><table class="access-table" ng-init="reverse = false;"> <tr ng-repeat="(key, value) in i" class="no-side-border"> <td class="author-key">{{reviewFields(key)}} </td><td class="author-value"> {{reviewFields(value)}} </td><tr></table></td>

    </tr>
    <tr ng-repeat="i in currentRecord.citation">
          <td> citation {{$index + 1}} </td> <td> <table class="citation-table"><tr ng-repeat="(key, value) in i" class="no-side-border"> <td class="author-key"> {{reviewFields(key)}} </td><td class="author-value"> {{reviewFields(value)}} </td><tr></table></td>

    </tr>
  </table>
    
  <div id="submit-form">
    <br>
    <div ng-show="checkAllValid();">
      <button class="btn btn-primary" id="record-options-publish" ng-click="publishRecord()"
	    href="#"
	    data-toggle="modal" data-target="#submitModal"
	    >
	Submit for publication
      </span>
    </div>

    <div ng-hide="checkAllValid();">
      <span class="disabled btn btn-primary">
	Please complete the record to publish data
      </span>
    </div>
    
  </div>
</div>

