<div>
  <h2>
What data is considered to be “sensitive”?
  </h2>
  <ul>
    <li>
      <p>Personal Financial Information: All deposited files must be separated from any information with nonpublic personal, financial, or confidential content, including names, addresses, and phone numbers; bank and credit card account numbers; income and credit histories; and Social Security number. For more information, see the <a href="https://www.ftc.gov/tips-advice/business-center/privacy-and-security/gramm-leach-bliley-act" target="_blank">Federal Trade Commission’s Safeguard Rule and the Financial Services Modernization Act of 1999</a>, also known as the Gramm-Leach-Bliley Act (GLBA).
      </p>
    </li>
    <li>
      <p>
	Personal Medical Information: Deposited files must comply with all applicable Federal and State regulations concerning the privacy and security of personal medical information, including but not limited to the <a href="http://www.hhs.gov/hipaa/" target="_blank">Health Insurance Portability and Accountability Act (HIPAA)</a> and the <a href="http://www.hhs.gov/hipaa/for-professionals/special-topics/HITECH-act-enforcement-interim-final-rule/index.html" target="_blank">Health Information Technology for Economic and Clinical Health Act (HITECH)</a>.
      </p>
    </li>
    
    <li>
      <p>
	Personal and Sensitive Socioeconomic information: Deposited files must adhere to <a href="https://www.whitehouse.gov/omb/circulars_a110" target="_blank">Federal OMB Circular A-110</a> guidelines on not recording personal and sensitive socioeconomic information, when such disclosure would constitute a clearly unwarranted invasion of personal privacy, such as information that could be used to identify a particular person in a research study.
      </p>
    </li>
    
    <li>
      <p>
	Sensitive Biological and Natural Heritage information: Deposited files must adhere to federal and state wildlife laws and policies concerning release of sensitive information such as the precise location species have been observed. For example, locations of endangered species or other data protected by the Endangered Species Act will not be shared and similar restrictions may apply to data maintained by states in natural heritage databases.
      </p>
    </li>
  </ul>

</div>
