<div>
  <h1>Intellectual Property</h1>

  <p>Intellectual property refers to
creations of the mind: inventions;
literary and artistic works; and
symbols, names and images used
in commerce. Intellectual property
is divided into two categories:
    <ul>
      <li>
	<h4>Industrial Property</h4>
	<p>includes
	  patents for inventions,
	  trademarks, industrial designs
	  and geographical indications.
	</p>
      </li>

      <li>
	<h4>Copyright</h4>
	<p>
	  covers literary
	  works (such as novels,
	  poems and plays), films,
	  music, artistic works 
	  (e.g., drawings, paintings,
	  photographs and sculptures)
	  and architectural design.
	  Rights related to copyright
	  include those of performing
	  artists in their performances,
	  producers of phonograms 
	  in their recordings, and
	  broadcasters in their radio
	  and television programs.
	  </p>
      </li>
    </ul>
    <br>
    (Definitions on this page cited from the World Intellectual Property Organization)
    <br>
</div>
    <!-- Take user back to disclaimer page -->
    <a ui-sref-active="active" id="terms-conditions" ui-sref="form.disclaimer"><button class="btn btn-primary">Back</button></a>
