<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <div class="extent-block">

   <h4><span class="glyphicon glyphicon-time"></span>
     Temporal Extent</h4>
   <h6>What is the time period represented by the data?</h6>

     <h4>Start Date</h4>

     <input type="text" tabindex="20" ui-date="dateOptions" ng-model="currentRecord.start_date.$date" id="start-date">

    H:
      <select tabindex=20 id="" name="" ng-model="currentRecord.start_date.$date.hours"
          ng-options="hour for hour in hours">
      </select>

      M:
      <select tabindex=20 id="" name="" ng-model="currentRecord.start_date.$date.minutes"
          ng-options="min for min in minute_seconds">
      </select>

      S:
      <select tabindex=20 id="" name="" ng-model="currentRecord.start_date.$date.seconds"
          ng-options="sec for sec in minute_seconds">
      </select>


     <h4>End Date</h4>

     <input type="text" tabindex="20" ui-date="dateOptions"
            id="end-date" ng-model="currentRecord.end_date.$date">

      <select tabindex=20 id="" name="" ng-model="currentRecord.end_date.$date.hours"
          ng-options="hour for hour in hours">
      </select>

      M:
      <select tabindex=20 id="" name="" ng-model="currentRecord.end_date.$date.minutes"
          ng-options="min for min in minute_seconds">
      </select>

      S:
      <select tabindex=20 id="" name="" ng-model="currentRecord.end_date.$date.seconds"
          ng-options="sec for sec in minute_seconds">
      </select>
    </div>

</div>