<div>
<!--  <h4 class="attribute-label">Temporal Extent</h4> -->
  
  <p>What is the time period represented by the data?</p>
  
  <div style="display:inline-block;width:180px;">
    <h4 class="attribute-label">Start Date</h4>
    <input type="text" tabindex="20" ui-date="dateOptions" ng-model="currentRecord.start_date.$date" id="start-date" required />
  </div>
  <div style="display:inline-block;width:180px;">
    <h4 class="attribute-label">End Date</h4>
    <input type="text" tabindex="20" ui-date="dateOptions" id="end-date" ng-model="currentRecord.end_date.$date" required />
  </div>
  <br>
  <h4 class="attribute-label">Date (dataset)</h4>
  <h6>
    What is the most recent date that the data was published or updated?
  </h6>
  <input tabindex=4 id="first-pub-date-input" ui-date="dateOptions"
	 ng-model="currentRecord.first_pub_date.$date" required />
</div>
