<div>
  <h2 class="section-header">
    <span class="glyphicon glyphicon-list-alt"></span> Upload File
  </h2>
  <div class="subform">
    <h4 class="attribute-label" id="attachment-header">Associated Data</h4>
    <h5><b>Please upload your data, or indicate that your data are hosted in another repository.</b><h5>
    <h5>File upload</h5>
    <div class="file-upload">
      <h5>
	<strong>Please contact <a href="mailto:portal@northwestknowledge.net?subject=NKN Metadata Editor" alt="email NKN">NKN</a>
	</strong>if you have questions or if the data associated with your record are <strong>larger than 10GB</strong>.
	  </h5>
      
      <ol>
	<li ng-repeat="att in currentRecord.attachments">
	  <a ng-href="{{att.url}}">{{att.url | filename}}</a>
	  (<a id="{{'remove-attachment-' + $index}}" ng-click="detachFile(att.id.$oid)" style="color:red">remove</a>)
	</li>
      </ol>
      <div id="attach-file-div">
	<input type="button" class="btn btn-primary btn-contact disabled"
		   value="Please save a draft to add files"
	       ng-hide="currentRecord._id"
	       />
      </div>
      <!-- <label for="fileSelect">Select file:</label> -->
      <div ng-if="!currentRecord.references_existing_data">
	<input type="file" id="attachment-select"
	       value="Attach File" ng-show="currentRecord._id"
	       file-model="attachmentInfo.newAttachment"
	       >
	<button id="attach-file-button" class="btn btn-primary btn-contact"
		ng-show="attachmentInfo.newAttachment"
		ng-click="attachFile()"
		>
	  Attach File
	</button>
       </input>
       </div>
    </div>
    <br>
    <input type="checkbox"
	   ng-model="currentRecord.references_existing_data"
	   ng-checked="currentRecord.references_existing_data"
	   >
    <strong>This metadata describes data already hosted in a data repository (please fill out at least one Online Resource in the Resources section with URL to data)</strong>
  </div>
</div>

