<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="The query: {{query}}"></title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>

<body>
<!--<body ng-controller="PhoneListCtrl">-->

<div class="container">

  <h1 class="baller">Searching on: {{query}} ordered by {{orderProp}}</h1>

  <div class="row">
    <div class="col-sm-6">
      Search: <input type="text" class="col-sm-3" ng-model="query" 
               placeholder="Filter Phones">
    </div>
    <div class="col-sm-6">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-age">Oldest</option>
      </select>
    </div>
  </div>
  <ul class="phones">

    <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">

      <a class="thumb" href="#/phones/{{phone.id}}"><img height="80px" alt="" ng-src="{{phone.imageUrl}}"></a>
      <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
      <p>{{phone.snippet}}</p>
    </li>

  </ul>
  
</div>
<div class="container">

    <h2>JSON of {{(phones | filter:query).length}} phones filtered by search "{{query}}"</h2>
    <h3>ordered by {{orderProp}}</h3>

  <pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>
  
</div>
</div>

  <h1>there won't be phones, but METADATA!!!</h1>
  <h2 style="color:red">This is the best stuff so far:</h2>
  <br>
  <h1 style="color:red">{{ basicForm.title }}</h1>
  <p style="font-size:18px;color:dodgerblue">{{ basicForm.description }}</p>
  <form name="metadataForm">
    <!-- this is wrong, but fix it when you go to the controller -->
    <div ng-repeat="(key, value) in basicForm.fields">
      <h4 style="color:pink">attribute: {{ key }}</h4>
      <p style="color:red">value: {{ value }}</p>
    </div>
  </form>

  <h2>This is a version that makes an input out of it, might be useful</h2>
  <form name="oldMetadataForm">
  <div ng-repeat="(key, value) in record">
    <h4>attribute: {{ key }}</h4>
    <p> value: <input type="text" name="{{ key }}-value" ng-model="record[key]" required> </p>
  </div>
  </form>

    <p ng-show="oldMetadataForm.$invalid" style="color:red">INVALID</p>

  <h2>Table Experiment from Tutorial 2</h2>
  <table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
      <td>{{i+1}}</td>
      <td ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7]">
        ({{i+1}}, {{j+1}}) 
      </td> 
    </tr>
  </table>

</body>
</html>
