.attribute-label {
  color:red;
}

.section-header {
  color: dodgerblue;
  margin: 15px 10px;
}
  
.subform {
  /*border-style: solid;*/
  /*border-width:1px;*/
  /*border-color: lightgrey;*/
  padding: 5px 15px 10px;
  background-color: #D3D3D3;
  margin: 10px;
}

h6 {
  margin-left: 4px;
}

.btn-primary {
  background-color: dodgerblue;
}

.btn-primary:hover {
  background-color: #eaeaea;
  color: dodgerblue;
}

#access-contacts {
  margin: 0 -8px 0 8px;  
}

#citation-contacts {
  margin: 0 8px 0 -8px;  
}

.field-description {
  font-size: 12px;  
}
.contacts-subheader {
  width: 80%;
} 

.btn-contact {
  width:100%;
}

/* To make anchors used as headings the same style */
.anchor, .anchor:hover {
  color: #333;
  text-decoration: none;
}

/*
 * to accomodate the navbar
 * see http://getbootstrap.com/components/#navbar-fixed-top 
 */
body { 
    padding-top: 45px; 
}

h1#record-title {
  margin-top: -10px; 
}

h3#brand {
  color:#aaa;
  margin-right:15px;
  text-align:right
}


#nav-button {
  font-weight: bold;  
}

#online-buttons {
  margin: 10px auto;
  width: 80%;
}  

.extent-block {
  margin: 10px auto;
  width: 80%;
}  

