.DS_Store
*.swp
*.pyc
*.sqlite
migrations/*
*.swo
doc/build/*
venv
**/bower_components
node_modules
mdedit_preprod/*
gptInsert.conf
checksum.conf
mdedit_preprod_test/
*uploads*
docs/_build
docs/devServerInstall.aux
docs/devServerInstall.log
docs/devServerInstall.tex~
docs/SSDD/*.aux
docs/SSDD/*.log
docs/SSDD/*.tex
