.DS_Store
*.swp
*.pyc
*.sqlite
migrations/*
*.swo
doc/build/*
venv
frontend/bower_components
node_modules
mdedit_preprod/*
gptInsert.conf
mdedit_preprod_test/
*uploads*
docs/_build
docs/devServerInstall.aux
docs/devServerInstall.log
docs/devServerInstall.tex~