.navbar {
    border-bottom: 2px groove #595959;
    background-color: #78C785;
}

.navbar-default {
    color: white;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #000;
    border-color: #ddd;
}

a:hover {
    cursor: pointer;
}


.navbar {
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#records-table {
    font-size: .7em;
    color: #333;
}

#records-table > span.badge {
    font-size: .7em;
}

input {
  border-width: 3px;
  border-style: solid;
}

textarea {
  border-width: 3px;
  border-style: solid;
}

.ng-pristine.ng-invalid-required {
    box-shadow: none;
}

input.ng-pristine {
  border-style: none;
}

textarea.ng-pristine {
  border-style: none;
}

select.ng-pristine {
  border-style: none;
}

input.ng-touched.ng-invalid {
  border-color: #FA787E;
  border-width: 3px;
  border-style: solid;
}

textarea.ng-touched.ng-invalid {
  border-color: #FA787E;
  border-width: 3px;
  border-style: solid;
}

select.ng-touched.ng-invalid {
  border-color: #FA787E;
  border-width: 3px;
  border-style: solid;
}

input.ng-not-empty.ng-valid {
  border-color: #78C785;
  border-width: 3px;
  border-style: solid;
}

textarea.ng-not-empty.ng-valid {
  border-color: #78C785;
  border-width: 3px;
  border-style: solid;
}

select.ng-dirty.ng-valid {
  border-color: #78C785;
  border-width: 3px;
  border-style: solid;
}

.attribute-label {
  color: #007acc;
}

.section-header {
  color: #080;
  margin: 15px 10px;
}

.btn-danger {
    background-color: #D15B59
}

.subform {
  /*border-style: solid;*/
  /*border-width:1px;*/
  /*border-color: lightgrey;*/
  padding: 5px 15px 10px;
  background-color: #cccccc;
  margin: 10px;
}

h6 {
  margin-left: 4px;
}

.btn-primary {
  background-color: #4d94ff;
}

.btn-primary:hover {
  background-color: #eaeaea;
  color: #333;
}

.btn-cancel-contact {
    background-color: #cd4e4b;
    color: white;
}

#access-contacts {
  /*margin: 0 -8px 0 8px;*/
}

#citation-contacts {
  /*margin: 0 8px 0 -8px;*/
}

.field-description {
  font-size: 12px;
}
.contacts-subheader {
  width: 80%;
}

.btn-contact {
  width:100%;
}

/* To make anchors used as headings the same style */
.anchor, .anchor:hover {
  color: #333;
  text-decoration: none;
}

/*
 * to accomodate the navbar
 * see http://getbootstrap.com/components/#navbar-fixed-top
 */
body {
    padding-top: 70px;
}

h1#record-title {
  margin-top: -10px;
}

h3#brand {
  color:#aaa;
  margin-right:15px;
  text-align:right
}


#nav-button{
  font-weight: bold;
}

#online-buttons {
  margin: 10px auto;
  width: 80%;
}

.extent-block {
  margin: 10px auto;
  width: 80%;
}

.header-button {
    border: 0;
    text-align: left;
}

div.centered-container {
  position: relative;
}

div.centered-container>div {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.centered-container>div>h4 {
  margin-top: 50px;
}

a.dropdown-toggle, a.btn {
    cursor: pointer;
}

/* To make it possible for (Optional) text be next to h2 header */

.optional-field-header {
    display: inline-block;
}

/* To remove line break between divs */
.extra-detailed-align {
    background-color: #cccccc;
    margin:0px;
    padding: 5px 15px 10px;
}

/* Style for review.html results table */
#review-table tr td{
    border: 1px solid black;
}

/* For sticky navbar (sticks to top of screen when scrolled to) */
nav.affix {
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix + .container-fluid {
    padding-top: 70px;
}

.dublin-form-list {
    float: left;
}
/* Animations for form wizard: sliding left and right out of the viewport */
/* slide out to the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-200%); }
}

@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-200%); }
}

@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
    from 	{ transform:translateX(200%); }
    to 		{ transform: translateX(0); }
}

@-moz-keyframes slideInRight {
    from 	{ -moz-transform:translateX(200%); }
    to 		{ -moz-transform: translateX(0); }
}

@-webkit-keyframes slideInRight {
    from 	{ -webkit-transform:translateX(200%); }
    to 		{ -webkit-transform: translateX(0); }
}

/* Wizard form views having animations applied to them */
#form-views.ng-enter,
#form-views.ng-leave { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
	-moz-animation:slideInRight 0.5s both ease;
	animation:slideInRight 0.5s both ease; 
}

#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
	-moz-animation:slideOutLeft 0.5s both ease;
	animation:slideOutLeft 0.5s both ease; 
}


/* Styling for step buttons */
/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               {
    display:inline-block;
    font-size: 14px;
    margin-right:10px;
    text-align:center;
    text-transform:uppercase;
}

#status-buttons a:hover         { text-decoration:none; }
#status-buttons .partial-button            {
    display:block;
    height: 25px;
    margin:0 auto;
    width:40px;
    border-radius: 5px;
}

/* active buttons */
.current-form-element   {
    background:#00BC8C;
}

/*Left and right arrow buttons for form slider fixed to side of screen */

@media only screen and (max-width: 890px) {
    .left-scroll-button, .right-scroll-button {
	font-size: 7em !important;
	top: 40%;
    }
}
/*
.form-button-stack {
    float: left;
    margin: 5px;
    text-align: center;
}
*/

.form-container {
    margin-right: 4em;
    margin-left: 4em;
}

#form-display {
    margin-right: 2em;
    margin-left: 2em;
}

/* Arrow that points to the right for step button backgrounds */

.breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
    background-color: white;
}

.breadcrumb li {
    list-style: none;
    float: left;
    display: inline;
    margin-top: 5px;
    margin-left: -35px;
}

.breadcrumb li a{
    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
    color: white;
    text-decoration: none;
    padding: 0px 5px 10px 30px;
    position: relative;
    display: block;
}

.breadcrumb li a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #cccccc;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid white;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:hover {
    background: #b3b3b3 !important;
}

.breadcrumb li a:hover:after {
    border-left-color: #b3b3b3 !important;
}

a.selected:after{
    border-left-color: #00BC8C !important;
}

a.not-complete:after{
    border-left-color: #FF471A !important;
}

a.complete:after{
    border-left-color: #00E600 !important;
}

a.initial:after {
    border-left-color: #CCCCCC;
}