<div class="col-md-3">
  <table id="admin-menu">
    <th>Search for record:</th>
    <tr id="admin-search">
      <td>
	<form>
	  <input type="text" name="search" ng-model="searchTerm"></input>
	</form>
	<button class="btn btn-primary" ng-click="searchForRecord()">Search</button>
      </td>
    </tr>
    <th>Browse All Records</th>
    <tr>
      <td>
	<button class="btn btn-primary" ng-click="browseRecords()">Browse All</button>
      </td>
    </tr>
    <th>
      Sort Results:
    </th>
    <tr>
      <td>
	Sort by:
	<br>
	<select ng-model="selectedFilter" ng-change="switchPageLayout()">
	  <option value="title">Title</option>
	  <option value="md_pub_date">Publish Date</option>
	  <option value="summary">Summary</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>
	Number of records per page:
	<br>
	<select ng-model="recordsPerPage" ng-change="switchPageLayout()">
	  <option value="10" selected="selected">10</option>
	  <option value="20">20</option>
	  <option value="30">30</option>
	  <option value="40">40</option>
	  <option value="50">50</option>
	</select>
      </td>
    </tr>
  </table>
</div>
<admin-view class="col-md-9"></admin-view>
