
  <!-- Modals -->
<div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="submitModalLabel">Metadata Record Submitted</h4>
      </div>
      <div class="modal-body">
        <p>Your metadata record has been submitted to NKN for publication and we have been alerted of
          your submission. Once we review and approve your record, you will be able to search
          for it on our <a href="https://www.northwestknowledge.net/data-search" target="_blank">data search page</a>. 
          If modifications need to be made before your record can be approved, NKN will contact you.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <!--NavBar -->
<nav class="navbar navbar-default navbar-fixed-top" style="border-style: none">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="navbar-custom" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown" is-open="status.isopen">
            <a id="load-delete-record-dropdown" class="dropdown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false"
	       >
                My Records <span class="caret"></span>
            </a>
            <ul id="records-table" class="dropdown-menu" role="menu">

                <table class="table" style="width:1000px;margin-bottom:-5px">

                    <li>
                        <thead>
                           <input type="text" class="form-control" placeholder="Search Your Records" ng-model="searchRecords" disable-auto-close>
                            <tr>
                                <td>
                                    <a ng-click="sortType = '-schema_type'; sortReverse = !sortReverse"  disable-auto-close>
                                      <b>Record Type</b>
                                        <span ng-show="sortType =='-schema_type' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType =='-schema_type' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="sortType = '-title'; sortReverse = !sortReverse" disable-auto-close>
                                      <b>Title</b>
                                        <span ng-show="sortType =='-title' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType =='-title' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="sortType = '-summary'; sortReverse = !sortReverse" disable-auto-close>
                                      <b>Summary</b>
                                        <span ng-show="sortType =='-summary' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType =='-summary' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="sortType = '-last_mod_date'; sortReverse = !sortReverse" disable-auto-close>
                                      <b>Last Edited</b>
                                        <span ng-show="sortType =='-last_mod_date' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType =='-last_mod_date' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="sortType = '-md_pub_date'; sortReverse = !sortReverse" disable-auto-close>
                                      <b>Last Published</b>
                                        <span ng-show="sortType =='-md_pub_date' && sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType =='-md_pub_date' && !sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <b>Load/Delete</b>
                                </td>
                            </tr>
                        </thead>
                    </li>

                    <li>
                        <tr ng-repeat="record in allRecords | orderBy:sortType:sortReverse | filter:searchRecords">
                            <td ng-attr-id="{{'record-list-type_' + $index}}">{{record.schema_type}}</td>
                            <td ng-attr-id="{{'record-list-title-' + $index}}">{{record.title | limitTo:20}}</td>
                            <td class="record-list-summary">{{record.summary | limitTo:30}}</td>
                            <td class="record-list-last-saved">{{record.last_mod_date.$date | date:'short'}}</td>
                            <td class="record-list-last-published">{{record.md_pub_date.$date | date:'short'}}</td>
                            <td class="record-list-actions">
                                <a ng-show="isISO(record.schema_type)"
                                   ng-click="editRecord(record._id.$oid)"
                                   class="btn btn-xs record-list-edit"
                                   id="{{'edit-record-iso-' + $index}}"
                                   href="#/iso">
                                   Load
                                </a>
                                <a ng-show="!isISO(record.schema_type)"
                                   ng-click="editRecord(record._id.$oid)"
                                   class="btn btn-xs record-list-edit"
                                   id="{{'edit-record-dublin-' + $index}}"
                                   href="#/dublin">
                                   Load
                                </a>
                                <a ng-show="!isPublished(record.md_pub_date.$date)"
                                   ng-click="deleteById(record._id.$oid)"
                                   ng-confirm-click="Are you sure you want to delete?"
                                   class="btn btn-xs record-list-delete"
                                   id="{{'delete-record-' + $index}}"
                                   >
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </li>

                </table>

            </ul>
        </li>

        <li class="dropdown">

          <a id="record-options-dropdown" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">Record Options <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">

                <li><a class="btn btn-sm btn-default navbar-btn header-button"
                       id="create-new-dataset"
                       ng-click="createNewRecord()"
                       href="#/iso"
		       ng-style="simulateHoverDataset">
                    Create new dataset record
                </a></li>

                <li><a class="btn btn-sm btn-default navbar-btn header-button"
                       id="create-new-non-dataset"
                       ng-click="createNewDublinRecord()"
                       href="#/dublin"
		       ng-style="simulateHoverNonDataset">
                    Create new non-dataset record
                </a></li>

                <li><a ng-click="submitDraftRecord()"
                       class="btn btn-sm btn-default navbar-btn header-button"
                       style="border:0;text-align:left"
                       id="save-as-draft" ng-style="simulateHoverSave"
		       >
                    Save this record as a draft
                </a></li>

                <li ng-show="baseCtrl.metadataForm.$valid">
                    <a id="record-options-publish" ng-click="publishRecord()"
                       class="btn btn-sm btn-default navbar-btn header-button"
                       href="#"
                       data-toggle="modal" data-target="#submitModal"
		       ng-style="simulateHoverPublish"
		       >
                    Publish record to NKN's portal</a>
                </li>

                <li ng-hide="baseCtrl.metadataForm.$valid"
                    class="disabled">
                  <a class="btn btn-sm btn-default navbar-btn header-button"
		     ng-style="simulateHoverPublish">
                    Please complete the record to publish data
                    </a>
                </li>
            </ul>

        </li>

        <li class="dropdown" ng-show="currentRecord._id.$oid">

            <a id="export-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                View XML as... <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="default-miles"
                       ng-click="export_('iso')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    ISO 19115
                </a></li>
                <li><a id="default-nkn" ng-click="export_('dc')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    Dublin Core
                </a></li>
                <li><a id="default-nkn" ng-click="export_('esri')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    ESRI-ISO
                </a></li>
            </ul>

        </li>

        <li class="dropdown">
            <a id="defaults-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Load Defaults <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="default-miles" ng-click="loadDefaultMILES()"
                       class="btn btn-sm btn-default navbar-btn header-button"
		       ng-style="simulateHoverMiles">
                    MILES</a></li>
                <li><a id="default-nkn" ng-click="loadDefaultNKNAsDistributor()"
                       class="btn btn-sm btn-default navbar-btn header-button"
		       ng-style="simulateHoverNKN">
                    NKN as Data Manager</a></li>
            </ul>

        </li>

      </ul>

  <!--
    <div class="navbar-form navbar-right" role="help">
      <button id="showHelp" ng-hide="baseCtrl.showHelp"
              ng-click="baseCtrl.showHelp=true"
              class="btn btn-default">
                Show Help
      </button>
      <button id="hideHelp" ng-show="baseCtrl.showHelp"
               ng-click="baseCtrl.showHelp=false"
              class="btn btn-default">
                Hide Help
      </button>
    </div>
  -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
