<nav class="navbar navbar-default navbar-fixed-top" style="border-style: none">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="navbar-custom" class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <!--  <li><a>Cr</a></li>
        <li><a href="#/iso">Link</a></li> -->
        <li class="dropdown">
            <a href="#/iso" id="load-delete-record-dropdown" class="dropdown-toggle"
               data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Manage records <span class="caret"></span>
            </a>
            <ul id="records-table" class="dropdown-menu">

                <table class="table" style="width:1000px;margin-bottom:-5px">

                    <li>
                        <thead>
                            <tr>
                                <td>
                                    <b>Title</b>
                                </td>
                                <td>
                                    <b>Summary</b>
                                </td>
                                <td>
                                    <b>Last Edited</b>
                                </td>
                                <td>
                                    <b>Last Published</b>
                                </td>
                                <td>
                                    <b>Load/Delete</b>
                                </td>
                            </tr>
                        </thead>
                    </li>

                    <li>
                        <tr ng-repeat="record in allRecords">
                            <td ng-attr-id="{{'record-list-title-' + $index}}">{{record.title | limitTo:20}}</td>
                            <td class="record-list-summary">{{record.summary | limitTo:30}}</td>
                            <td class="record-list-last-saved">{{record.last_mod_date.$date | date:'short'}}</td>
                            <td class="record-list-last-published">Never</td>
                            <td class="record-list-actions dropdown-submenu">
                                <a ng-click="editRecord(record._id.$oid)"
                                   class="btn btn-xs record-list-edit"
                                   id="{{'edit-record-' + $index}}">
                                   Load
                                </a> |
                                <a ng-click="deleteById(record._id.$oid)"
                                   class="btn btn-xs record-list-delete"
                                   id="{{'delete-record-' + $index}}">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </li>

                </table>

            </ul>
        </li>

        <li class="dropdown">

          <a id="record-options-dropdown" href="#/iso" class="dropdown-toggle" data-toggle="dropdown"
             role="button" aria-haspopup="true" aria-expanded="false">Record Options <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">

                <li><a class="btn btn-sm btn-default navbar-btn header-button"
                       id="create-new-dataset"
                       ng-click="createNewRecord()">
                    Create new dataset record
                </a></li>

                <li><a class="btn btn-sm btn-default navbar-btn header-button"
                       id="create-new-non-dataset" href="#/dublin">
                    Create new non-dataset record
                </a></li>

                <li><a ng-click="submitDraftRecord()"
                       class="btn btn-sm btn-default navbar-btn header-button"
                       style="border:0;text-align:left">
                    Save this record as a draft
                </a></li>

                <li ng-show="baseCtrl.metadataForm.$valid">
                    <a id="record-options-publish" ng-click="publishRecord()"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    Publish record to NKN's portal</a>
                </li>

                <li ng-hide="baseCtrl.metadataForm.$valid"
                    class="disabled">
                    <a class="btn btn-sm btn-default navbar-btn header-button"
                       href="#/iso">
                    Please complete the record to publish data
                    </a>
                </li>
            </ul>

        </li>

        <li class="dropdown" ng-show="currentRecord._id.$oid">

            <a href="#/iso" id="export-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                View XML as... <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="default-miles"
                       ng-click="export_('iso')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    ISO 19115
                </a></li>
                <li><a id="default-nkn" ng-click="export_('dc')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    Dublin Core
                </a></li>
                <li><a id="default-nkn" ng-click="export_('esri')"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    ESRI-ISO
                </a></li>
            </ul>

        </li>

        <li class="dropdown">

            <a href="#/iso" id="defaults-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Load Defaults <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a id="default-miles" ng-click="loadDefaultMILES()"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    MILES</a></li>
                <li><a id="default-nkn" ng-click="loadDefaultNKNAsDistributor()"
                       class="btn btn-sm btn-default navbar-btn header-button">
                    NKN as Data Manager</a></li>
            </ul>

        </li>

      </ul>

    <div class="navbar-form navbar-right" role="search">
        <button id="showHelp" ng-hide="baseCtrl.showHelp"
                ng-click="baseCtrl.showHelp=true"
                class="btn btn-default">
            Show Help
        </button>
        <button id="hideHelp" ng-show="baseCtrl.showHelp"
                ng-click="baseCtrl.showHelp=false"
                class="btn btn-default">
            Hide Help
        </button>
    </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
