<div class="col-md-3">
  <ul class="nav nav-tabs">
    <li><a  ng-click="setMode()">Browse</a></li>
    <li class="active"><a ng-click="setMode()">Assign DOI/ARK</a></li>
  </ul> 
  <table class="admin-menu">
    <th>Search for record:</th>
    <tr class="admin-search">
      <td>
	<form>
	  <input type="text" name="search" ng-model="searchTerm"></input>
	</form>
	<button class="btn btn-primary" ng-click="searchForRecord()">Search</button>
      </td>
    </tr>
    <th>
      Sort Results:
    </th>
    <tr>
      <td>
	Sort by:
	<br>
	<select ng-model="selectedFilter" ng-change="switchPageLayout()">
	  <option value="assigned_doi_ark">DOI/ARK</option>
	  <option value="md_pub_date">Publish Date</option>
	  <option value="title">Title</option>
	  <option value="summary">Summary</option>
	</select>
      </td>
    </tr>
    <tr>
      <td>
	Number of records per page:
	<br>
	<select ng-model="recordsPerPage" ng-change="switchPageLayout()">
	  <option value="10" selected="selected">10</option>
	  <option value="20">20</option>
	  <option value="30">30</option>
	  <option value="40">40</option>
	  <option value="50">50</option>
	</select>
      </td>
    </tr>
  </table>
</div>
<div class="col-md-9">
  <table class="admin-results-table table-hover table">
    <tr>
      <td class="col-md-1">Assign DOI/ARK</td><td class="col-md-3">Title</td><td class="col-md-2">Author</td><td class="col-md-1">Publish Date</td><td class="col-md-3">Summary</td><td class="col-md-2">DOI/ARK Request</td>
    </tr>
    <tr ng-repeat="record in recordsList.results" class="results-row" >
      <td class="col-md-1">
	<form name="doiArkAssignCtrl.setDoi">
		<input type="checkbox" ng-init="doiVisible$index = false" ng-click="doiVisible$index = !doiVisible$index"></input>
	</form>
      </td>
      <td class="col-md-3">
	<h4> {{record.title}} </h4>
      </td>
      <td class="col-md-2">
	<div ng-repeat="author in record.citation" ng-if="author.name != ''"> - {{author.name}} </div>
      </td>
      <td class="col-md-1"> {{record.md_pub_date}} </td><td class="col-md-3"> {{record.summary}} </td><td class="col-md-2"> {{record.doi_ark_request}} <div ng-show="doiVisible$index">
	<form name="doiArkAssignCtrl.doiAssignForm">
	   <div ng-show="(record.doi_ark_request == 'DOI') || (record.doi_ark_request == 'both')">{{record.identifiers[1].type}} : 
		<input type="text" ng-show="record.doi_ark_request == 'DOI' || (record.doi_ark_request == 'both')" ng-model="record.identifiers[1].id"></input>
	   </div>
	   <div ng-show="(record.doi_ark_request == 'ARK') || (record.doi_ark_request == 'both')">{{record.identifiers[2].type}} : 
		<input type="text" ng-show="record.doi_ark_request == 'ARK' || (record.doi_ark_request == 'both')" ng-model="record.identifiers[2].id"></input>
	   </div>
	</form>
	<button class="btn btn-primary" ng-click="saveRecord($index)">Assign</button></div></td>
    </tr>
  </table>
</div>
<div>
  <table class="page-table">
    <tr>
      <td class="page-numbers" ng-click="decCurrentPage()">Previous </td><td ng-repeat="i in pageNumbers" class="page-numbers" ng-value="i" ng-click="switchAdminResultsPage(i);">{{ i }}</td><td class="page-numbers" ng-click="incCurrentPage()"> Next</td>
    </tr>
  </table>
</div>
