<form name="baseCtrl.metadataForm" id="metadataForm" class="css-form" novalidate>
      
  <!-- form header contains title -->
  <div ng-include="partialsPrefix + 'partials/formHeader.html'"></div>
  
  <div class="row">
    <ul class="breadcrumb form-button-stack" id="status-buttons">
      <!-- Save record, reset background of current page's button, and move to selected page's partial -->
      <li ng-repeat="button in dublinFormList">
	<a id="{{button.form_name}}" ng-style="button.buttonStyle" ng-click="saveForm(button.form_name); resetBackground('dublin'); formIsValid('dublin', baseCtrl.metadataForm.$valid); checkFormPartial('dublin'); jumpToPage($index, 'dublin'); " class="breadcrumb-button"><span class="partial-button"><span ng-show="button.checkIconStyle" class="mega-octicon octicon-check move-icon"></span><span ng-show="button.xIconStyle" class="mega-octicon octicon-x move-icon"></span><span ng-show="button.dotIconStyle" class="mega-octicon octicon-primitive-dot"></span></span>{{button.label}}</a>
      </li>
    </ul>
    
    <div id="form-display">
      <div id="form-views" ui-view>
	<!-- our nested state views will be injected here -->
	<div id="form-views" ui-view></div>
      </div>
    </div>
    <br>
    <!-- Back button -->
    <button class="btn btn-primary left-scroll-link" ng-click="button.saveOnClick; formIsValid('dublin', baseCtrl.metadataForm.$valid); resetBackground('dublin'); setCurrentPage(-1, 'dublin');" >Back</button>
    
    <!-- Next button -->
    <button class="btn btn-primary right-scroll-link" ng-click="submitDraftRecord(); formIsValid('dublin', baseCtrl.metadataForm.$valid); setCurrentPage(1, 'dublin');">Next</button>
</form>
