<form name="baseCtrl.metadataForm" id="metadataForm" class="css-form" novalidate>
      
  <!-- form header contains title -->
  <div ng-include="partialsPrefix + 'partials/formHeader.html'"></div>

  <div class="row" ng-controller="DCController as dc">
      <div id="status-buttons" class="text-center">
	<a ui-sref-active="active" ui-sref="dublinForm.setup" ng-click="submitDraftRecord()"><span>1</span>Template Setup</a>
        <a ui-sref-active="active" ui-sref="dublinForm.basic" ng-click="submitDraftRecord()"><span>2</span> Basic Information</a>
        <a ui-sref-active="active" ui-sref="dublinForm.detailed" ng-click="submitDraftRecord()"><span>3</span> Detailed Information</a>
        <a ui-sref-active="active" ui-sref="dublinForm.dataFormats" ng-click="submitDraftRecord()"><span>4</span> Data Formats</a>
	<a ui-sref-active="active" ui-sref="dublinForm.onlineResourcesAndRestrictions" ng-click="submitDraftRecord()"><span>5</span>Online Resources</a>
        <a ui-sref-active="active" ui-sref="dublinForm.spatialExtent" ng-click="submitDraftRecord()"><span>6</span>Spatial Data</a>
        <a ui-sref-active="active" ui-sref="dublinForm.temporalExtent" ng-click="submitDraftRecord()"><span>7</span>Temporal Data</a>
	<a ui-sref-active="active" ui-sref="dublinForm.contacts" ng-click="submitDraftRecord()"><span>8</span>Contacts</a>
	<a ui-sref-active="active" ui-sref="dublinForm.review" ng-click="submitDraftRecord()"><span>9</span>Review</a>
      </div>
  </div>

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <div id="form-views" ui-view>
	<form id="signup-form" ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
	</form>
      </div>
  
</form>
    
<!--
        <div class="col-xs-6 col-sm-6 col-md-6">
            <h2 class="section-header">
              <span class="glyphicon glyphicon-list-alt"></span> Basic Information
            </h2>

        <div class="subform">
          <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6">
            <h5>Record Type: </h5>
          </div>
            
          <input tabindex=3 id="" name="" type="text"
		 style="width:37%;float:right; text-align:center" 
		 ng-model="currentRecord.schema_type" 
		 ng-init="currentRecord.schema_type='Non-Dataset (Dublin Core)'"
		 ng-readonly="true"
		 maxlength="254"/>
            
            </br>

          <div ng-include="partialsPrefix + 'partials/form/basic.html'"></div>

        </div>
         
         <h2 class="section-header">
           <span class="mega-octicon octicon-tools"></span> 
           Data Format Details
         </h2>

         <div ng-include="partialsPrefix + 'partials/form/dataFormats.html'"></div>
        
    </div>
   


    <div class="col-xs-6 col-sm-6 col-md-6">
      <h2 class="section-header">
        <span class="glyphicon glyphicon-list-alt"></span> Detailed Information
      </h2>

      <div class="subform">
        <div ng-include="partialsPrefix + 'partials/form/detailed.html'"></div>
      </div>
    
    </div>
    
   </div>


  <div class="row">
     <a class="anchor" name="spatiotemporal">
       <h2 class="section-header">
       <span class="glyphicon glyphicon-globe"></span> 
         Geospatial Extents
       </h2>
     </a>
     <div class="subform">
       <div class="row" style="vertical-align:middle">       
          <div ng-include="partialsPrefix + 'partials/form/spatialExtent.html'"></div>
       </div>
     </div>
        
  </div>


  <div ng-include="partialsPrefix + 'partials/form/contacts.html'"></div>
  
  <div ng-include="partialsPrefix + 'partials/form/onlineResourcesAndRestrictions.html'"></div>

</form>
-->
