<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <!-- Display Current Record Title -->
    <h2 id="record-title" ng-show="newRecord">New Metadata Record:<br>
       &nbsp{{currentRecord.title}}</h2>
    
    <h2 id="record-title" ng-show="!newRecord">Editing Existing:<br>
       &nbsp{{currentRecord.title}}</h2>
  </div>
  
  <br>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <button tabindex=25 class="btn btn-small btn-danger navbar-btn"
      ng-hide="metadataForm.$valid">
     Please fix errors before publishing to NKN Portal
    </button>
    
    <!-- 
    Controller will handle case where form is valid, but a draft has
    not yet been submitted.
    -->
    <button tabindex=25 ng-show="metadataForm.$valid" 
            class="btn btn-small btn-primary navbar-btn" 
            type="submit" ng-click="publishRecord()">
      Publish Record to NKN Portal
    </button>
  </div>
</div>
