<div style="margin-left: 2em; margin-right: 4em; font-size: medium">
	<strong> Tips for using NKN's Metadata Editor: </strong>
</div>
<div style="margin-left: 6em; margin-right: 6em; font-size: medium">
    <p>
        Use the <strong><i>Load or delete an existing record</strong></i> dropdown to see a list of your existing records, the date they were lasted modified and published, and to load a record into the webform for editing or to delete the record. Once you have completed all required fields in the form (highlighted in red), you will have the option to submit your record to the NKN Portal for publication, select <strong>Publish Record to NKN Portal</strong> option under <strong>Record Options</strong> dropdown. Once submitted, we will review and publish your record. If you make changes to a record you have already submited, you will need to resubmit. To view your metadata record as an xml document, use the <strong><i>View XML as</strong></i> dropdown and select your preferred format (ISO, Dublin Core, or ESRI-ISO. 
    </p>
</div>
<div style="margin-left: 2em; margin-right: 4em; font-size: medium">
	<strong>Special Instructions for MILES users:</strong>
</div>
<div style="margin-left: 6em; margin-right: 6em; font-size: medium">
    <p>
        Use the <strong><i>Load Defaults</strong></i> dropdown and select <strong> MILES </strong> to pre-load some of the fields with MILES-related content. Please add to these fields as appropriate: for example, you will likely want to add <i>place and thematic keywords</i> related to your specific dataset. The <i>bounding coordinates</i> provided here are for the entire state of Idaho; modify to fit the location of your dataset as appropriate. If you are using NKN to store your data, also select <strong> NKN as Data Manager</strong> from the <strong><i>Load Defaults</strong></i> dropdown. Please provide the first author's name and university affiliation toward the end of the <i>use restrictions</i> text where it currently reads "(Name, University Affiliation)".
    </p>
</div>