<form name="metadataForm" id="metadataForm">

  <!-- form header contains title and submit to portal button -->
  <div ng-include="'partials/formHeader.html'"></div>

  <div class="row" ng-controller="ISOController as iso">
    <!---------------Left Divider-------------->
    <div class="col-xs-6 col-sm-6 col-md-6">

    <!--Basic Information: Title and Summary-->

       <div ng-include="'partials/form/basic.html'"></div>
         
           <h2 class="section-header">
           <span class="mega-octicon octicon-tools"></span> 
           Data Format Details
         </h2>
         <div class="subform">
           
           <div ng-include="'partials/form/dataFormats.html'"></div>
           
           <h4 class="attribute-label">Compression Technique</h4>
           <h6>
            Is your data offered in a compressed format? If so, please type a 
            short description here. For example, "The LAS files are compressed 
            in standard ZIP format"
           </h6>
           
           <input tabindex=20 type="text" ng-model="currentRecord.compression_technique" style="width:95%">
         
         </div>
      </div>
 
    <!---------------Right Divider-------------->

    <!--Detailed Information: Place Keywords, Thematic Keywords, Topic, Update status/freq-->
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h2 class="section-header">
      <span class="glyphicon glyphicon-list-alt"></span> Detailed Information
    </h2>
 
    <div class="subform">

     <div ng-include="'partials/form/detailed.html'"></div>

      <h4 class="attribute-label">Update Status</h4>
      <h6>What is the status of your dataset? For example, is it complete (you anticipate no further work and consider it final) or is it ongoing (continually being updated)?</h6>

      <select tabindex=6 id="" name=""
              ng-options="s for (s, iso) in iso.statusChoicesIsoMap" 
              ng-model="currentRecord.status">
      </select>
      <h4 class="attribute-label">Update Frequency</h4>
      <h6>Please select the frequency with which changes (any modifications and deletions) are or will be made to your data after it is produced. Please select a value from below. Options are available if you do not plan to update your data or do not know the specific frequency of updates.</h6>
      <select tabindex=7 id="" name=""
              ng-options="f for (f, iso) in iso.updateFrequencyChoicesMap" 
              ng-model="currentRecord.update_frequency">
      </select>

      <h4 class="attribute-label">Data Type</h4>
      <h6>
        How are your data represented? Through a text file, vector spatial representation, a spatial grid of values, a table, a 
        video of a scene, etc.?
      </h6>
      <select tabindex=8 id="" name=""
              ng-options="f for f in spatialDataOptions" 
              ng-model="currentRecord.spatial_dtype">
      </select>

      <h4 class="attribute-label">Hierarchy Level</h4>
      <h6>
        Is your data a single dataset or is it one of a series of datasets?
      </h6>
      <select tabindex=9 id="" name=""
              ng-options="f for f in hierarchyLevels" 
              ng-model="currentRecord.hierarchy_level">
      </select>

       </div>
     </div>
   </div>


    <!--Spatial and Temporal Extents (Bounding Box, Start/End dates)-->
  <div class="row">
     <a class="anchor" name="spatiotemporal">
       <h2 class="section-header">
       <span class="glyphicon glyphicon-time"></span> 

       <span class="glyphicon glyphicon-globe"></span> 
         Spatiotemporal Extents
       </h2>
     </a>
     <div class="subform">
       <div class="row" style="vertical-align:middle">
         
          <div ng-include="'partials/form/temporalExtent.html'"></div>
          
          <div ng-include="'partials/form/spatialExtent.html'"></div>

       </div>
     </div>

  </div>

  <div ng-include="'partials/form/contacts.html'"></div>
  
  <div ng-include="'partials/form/onlineResourcesAndRestrictions.html'"></div>

</form>
