<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <button tabindex=24 class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button"><span class="sr-only">Toggle menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <!--<a class="navbar-brand" href="#">NKN Metadata Editor</a>-->
        <a href="#list" 
           class="btn btn-small btn-default navbar-btn">
          Edit Existing
        </a>

        <button tabindex=24 ng-click="createNewRecord()" 
                class="btn btn-small btn-primary navbar-btn">
          Create New
        </button>

        <button tabindex=25 ng-show="newRecord" 
                class="btn btn-small btn-primary navbar-btn" 
                type="submit" ng-click="submitDraftRecord()">
          Save Draft
        </button>
        
        <button tabindex=25 ng-show="!newRecord" 
                class="btn btn-small btn-primary navbar-btn" 
                type="submit" 
                ng-click="submitDraftRecord()">
          Save Changes to Draft
        </button>

        <!-- 
        Controller will handle case where form is valid, but a draft has
        not yet been submitted.
        -->
        <button tabindex=25 ng-show="metadataForm.$valid" 
                class="btn btn-small btn-primary navbar-btn" 
                type="submit" ng-click="publishRecord()">
          Publish Record to NKN Portal
        </button>

        <button tabindex=24 ng-click="toggleMetadataType('iso')"
           class="btn btn-small btn-primary navbar-btn">
          Create Dataset Record
        </button>

        <button tabindex=24 ng-click="toggleMetadataType('dublin')"
           class="btn btn-small btn-primary navbar-btn">
          Create Other Research Product Record
        </button>

        <button tabindex=24 ng-click="defaultMILES()" 
                class="btn btn-small btn-primary navbar-btn">
          Load MILES Defaults
        </button>

        <button tabindex=25 class="btn btn-small btn-danger navbar-btn"
          ng-hide="metadataForm.$valid">
         Please fix errors before publishing to NKN Portal
        </button>
    </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>Form Valid: {{metadataForm.$valid}}</li>
          <li><a href="/#go-to-modal-info">Info</a></li>
          <li>
            <a href="https://github.com/northwest-knowledge-network/mdedit">
              <span class="octicon octicon-mark-github" id="mdedit"></span>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
  </nav>
